In [1]:
###
"""
lon,lat
119.4,21.9
119.4,22
119.4,22.1
119.4,22.2
119.4,22.3
119.4,22.4
119.4,22.5
119.4,22.6
119.4,22.7
119.4,22.8
119.4,22.9
"""
###
#Load grid points

import pandas as pd

df = pd.read_csv('./1_grid_points/0_1_______.csv')

In [9]:
#載入檢查經緯度點是否在陸地上的套件
from global_land_mask import globe

#檢查經緯度點是否在陸地上

df['land'] = df.apply(lambda x: globe.is_land(x['lat'], x['lon']), axis=1)
#只保留在陸地上的點
df = df[df['land'] == True]
#把land這個欄位刪掉
df = df.drop(columns=['land'])
#儲存
df.to_csv('./1_grid_points/0_1_______land.csv', index=False)

C:\Users\naro-admin\AppData\Local\Temp\ipykernel_45304\772694293.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['land'] = df.apply(lambda x: globe.is_land(x['lat'], x['lon']), axis=1)

In [8]:
df

        lon   lat  land
35    119.2  25.2  True
36    119.2  25.3  True
73    119.3  25.3  True
130   119.5  23.6  True
146   119.5  25.2  True
...     ...   ...   ...
994   121.8  24.9  True
995   121.8  25.0  True
996   121.8  25.1  True
1032  121.9  25.0  True
1033  121.9  25.1  True

[322 rows x 3 columns]